@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 5rem; 
  font-family: 'Roboto', sans-serif;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 1.5rem;
  }
}

